.some-div{data: { controller: :binding,
                  action: "binding#method",
                  target: "binding.type" }}

- if something
  .inner
    .inner-inner

- elsif something_else
  .inner
    .inner-inner

- else
  .inner
    .inner-inner

.something
  .here
