.container{data: { controller: :container,
                   action: 'hover->container#someAcion',
                   container: { selector: '.some-element' }}}

.container{data: { controller: :container, '.some-element' }}}
